{% extends 'main.html' %}
{% block title %}
Register new user
{%endblock%}
{% block content %}

<h1>Register</h1>

<form action="" method="POST">
    {% csrf_token %}
    <div>
        {{form.username.label}}
        {{form.username}}
    </div>
    <div>
        {{form.first_name.label}}
        {{form.first_name}}
    </div>
    <div>
        {{form.last_name.label}}
        {{form.last_name}}
    </div>
    <div>
        {{form.email.label}}
        {{form.email}}
        
    </div>
    <div>
        {{form.password1.label}}
        {{form.password1}}
        
    </div>
    <div>
        {{form.password2.label}}
        {{form.password2}}
        
    </div>

    <input type="submit" value="Register">

</form>
{{form.errors}}
<p>Already have an account? <a href="{% url 'login' %}">Login here.</a></p>
{%endblock content%}